.jumbotronjumbotron-fluid{
      background-color: #1C1C1B;
  }

body{
    background-color: #1C1C1B;
}

.logoImage{
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 90%;
        cursor: pointer;
}

.formformfrom {
    font-family: "BatmanForeverAlternate";
    src: url("/fonts/BatmanForeverAlternate.ttf") format("ttf");
    color: #FFED00;
  };

#formtitle{
    font-family: "BatmanForeverOutline";
    src: url("/fonts/BatmanForeverOutline.ttf") format("ttf"); 
    color: #FFED00;
}

#center{
  display: none;
  text-align: center;
}

#map{
  margin-left: auto;
  margin-right: auto;
}

#msg{
  color: #FFED00;
}

#submitButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #1C1C1B;
  cursor: pointer;
}

#donateform{
  display: block;
  margin-top: auto;
  margin-left: 400px;
}